exercise3/src/main/mule/exercise3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d69b43dd-a74c-4187-8cbb-18e917ff5756" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9c6d5e59-a541-46b9-8fb5-c85334f899c7" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="Mule" />
	</db:config>
	<flow name="exercise3Flow" doc:id="5049e54e-0d7a-4345-8181-6ae2b2dff18e" >
		<http:listener doc:name="Listener" doc:id="a7279673-3e46-460a-9afa-a382421a4e96" config-ref="HTTP_Listener_config" path="/flights"/>
		<db:select doc:name="Select" doc:id="d31e06d9-2bbb-413a-b63c-7ff56401a881" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM American WHERE id = :ID;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.queryParams.id}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="99f8fe70-232a-4edb-9185-092e0c98b4d1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: (attributes.uriParams.ID default 0) + (payload01.ID default 0),
	code: payload01.code2 default "",
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatAvailable default 0,
	plane: {
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
